/*
Variables tipicas
se crean con $nombre: valor
*/
$color-black: #000000;
$color-white: #ffffff;
$color-web: #400d40;
$color-yellow: #ecb22e;
$color-blue: #40a5e9;
$color-bone: #e6e5e3;
$color-green: #00862D;

$padding-main:  0px 5%;
